html { 
	height: 100%
}

body { 
	height: 100%;
	margin: 0;
	padding: 0
}

#map-canvas {
	height: 100%
}

.bus-markers {
    color: white;
    background-color: rgb(251, 112, 100);
    font-size: 11px;
    text-align: center;
    width: 12px;     
    white-space: nowrap;
}